<table class="table">
		<tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>

		<tr>
			<th>name</th>
			<th><%= user.name %></th>
		</tr>

		<tr>
			<th>introduction</th>
			<th><%= user.introduction %></th>
		</tr>
		<tr>
			<th>follows</th>
		</tr>
		<tr>
			<th>followers</th>
		</tr>
		<% if user.relationshiped_by?(current_user) %>
			<%= link_to user_relationships_path(user), method: :delete do %>
				<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
			<% end %>
		<% else %>
			<%= link_to user_relationships_path(user), method: :post do %>
				<i class="fa fa-heart-o" aria-hidden="true"></i>
			<% end %>
		<% end %>
</table>

<div class="row">
	<%= link_to '',edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
</div>